{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}



<form action="/login" method="post">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="username">اسم المستخدم</label>
          <input type="text" class="form-control form-control-lg" id="username" name="username" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="password">كلمة المرور</label>
          <input type="password" class="form-control form-control-lg" id="password" name="password" required>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">تسجيل الدخول</button>
  </div>

</form>
{% endblock %}
