 {% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for( 'static',filename=' editormd/css/editormd.css ' ) }}"/>
<script src="{{ url_for( 'static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for( 'static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        editormd("fancy-editormd", {
            // width: "100%", 请不要添加
            height: 640,
            syncScrolling: "single",
            path: "{{ url_for( 'static',filename='editormd/lib/ ') }}",
            saveHTMLToTextarea : true
        });
    });
</script>
 {{ super() }} 
  
<div class="container mt-4">
  <h1>{{name.username}}</h1>
    <h1>Create a Post</h1>
    <form method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 </div>

 {% endblock %}
