{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <style>
  code{
    
  background-color: #333;

  }
  </style>
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ article.title }}</h1>
        <p>{{  text | safe}}</p>
        <p>
          <small>تاريخ النشر: {{ article.created_at.strftime("%Y-%m-%d") }}</small>
        </p>
      </div>
      <div class="col-md-4">
        <!-- <img  alt="صورة المنشور"> -->
      </div>
    </div>
  <p>{{article.user_id}}: {{article.id}} :{{user.username}}</p>
  </div >
<a href="/delete/{{ article.id }}" class="btn btn-danger">حذف</a>

<a href="/edit/{{ article.id }}" class="btn btn-danger">تعديل</a>

{% endblock %}
