{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  {% for message in get_flashed_messages() %}
            {{ message }}
    {% endfor %}
 

 <h2>(Page {{ pagination.page }})</h2>       
{% for post in pagination.items%}          

<div class="container">
  <div class="row">
    <div class="col-md-8">

      <div class="card mb-3">
        <div class="card-body" style="color: {% if post.is_read %}lightgray{% else %}red{% endif %}">
<p class="card-text">تاريخ الإنشاء: {{ post.created_at.strftime("%Y-%m-%d") }}</p>
              <hr>
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content[:100]|safe }}</p>
              <a href="/articles/{{post.id}}" class="btn btn-primary">قراءة المزيد</a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endfor %}
 <nav aria-label="...">

  <ul class="pagination">
{% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('viwe.index', page=pagination.prev_num) }}">prev</a>
    </li>
    {% endif %}
    {% for number in pagination.iter_pages() %}
               {% if pagination.page != number %}

    <li class="page-item"><a class="page-link" href="{{ url_for('viwe.index', page=number) }}">
                    {{ number }}
</a></li>
     {% else %}
            <span class='page-link' style="color:red;">{{ number }}</span>
     
        {% endif %}
    {% endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('viwe.index', page=pagination.next_num) }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
      <main class="container">
        <div class="p-4">
          <h4 class="fst-italic">الأرشيف</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">مارس 2021</a></li>
            <li><a href="#">شباط 2021</a></li>
            <li><a href="#">يناير 2021</a></li>
            <li><a href="#">ديسمبر 2020</a></li>
            <li><a href="#">نوفمبر 2020</a></li>
            <li><a href="#">أكتوبر 2020</a></li>
            <li><a href="#">سبتمبر 2020</a></li>
            <li><a href="#">اغسطس 2020</a></li>
            <li><a href="#">يوليو 2020</a></li>
            <li><a href="#">يونيو 2020</a></li>
            <li><a href="#">مايو 2020</a></li>
            <li><a href="#">ابريل 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">في مكان آخر</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
    </main>
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  <p>تم تصميم نموذج المدونة لـ <a href="https://getbootstrap.com/">Bootstrap</a> بواسطة <a href="https://twitter.com/mdo"><bdi lang="en" dir="ltr">@mdo</bdi></a>.</p>
  <p class="mb-0">
    <a href="#">عد إلى الأعلى</a>
  </p>
</footer>
{% endblock %}
