<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <script src=" {{ url_for('static',filename='js/color_modes.js') }} " ></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href=" {{ url_for('static',filename='vendor/bootstrap/css/bootstrap.rtl.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/blog.rtl.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">

      <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
   <link href="https://fonts.googleapis.com/css?family=Amiri:wght@400;700&amp;display=swap" rel="stylesheet">
<style>
.border-bottom{
border-bottom-color:green;
}

</style>
</head>
<body>
<nav class="navbar navbar-dark bg-dark fixed-top st-my ">
  <div class="container-fluid  ">
    <a class="navbar-brand" href="/">عماد ابو اسماعيل</a>
    <button class="taggle-but" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="offcanvas offcanvas-end border-g w-75 text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header  "><h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white test" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body nv">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">خيارات المستخدم</a>
          {% if current_user.is_authenticated %}
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/logout">تسجيل الخروج</a></li>
              <li><a class="dropdown-item" href="/profile/{{ current_user.id }}">الملف الشخصي</a></li>
              <li><a class="dropdown-item" href="/post">انشاء منشور</a></li>
            </ul>
          {% else %}
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/login">تسجيل الدخول</a></li>
              <li><a class="dropdown-item" href="/signup"> انشاء مستخدم</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
 <form class="d-flex mt-3 search" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" style="width:65px" type="submit">Search</button>
        </form>
     </div>
    </div>
  </div>
</nav>
    
 <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis" href="/category/manage">ادارة الفئات</a>
    </nav>
  </div>
  {% block content %}{% endblock %}
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
  <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
  </footer>
</body>
</html>
